@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

html {
background-color: #008c41;
background-image: url(http://www.transparenttextures.com/patterns/food.png);
}

body {
    font-family: 'Syne Mono', monospace;
    margin: 0;
    padding: 0;
}
div {
    color: yellow;
}
main {
    padding: 16px;
}

h2 {
    color: yellow;
}
footer {
    padding: 24px 0px 24px 0px;
    position: sticky;
    background-color: greenyellow;
    text-align: center;
}

header {
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: greenyellow;
}

tr:nth-child(even) {
    background-color: lightgrey;
    color: black;
}

.four-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


a {
    text-decoration: none;
    color: yellow;
}

a:hover {
    background-color:rgb(248, 176, 150);
    color: blue;
}

.front-page {
    text-align: center;
}

h1 {
    color: yellow;
}
nav > a {
    color: black;
}
ol {
    color: yellow;
}

table {
    color: yellow;
}
.heart-img {
    position:absolute;
    width:40px;
    height:40px;
    top:20px;
    left:30px;
    z-index:1000;
}